

<head>
    <link href="~/StyleSheet.css" rel="stylesheet" type="text/css"/>
</head>

<header>
    <h1>Student Enrollment Home Page</h1>
</header>

<body>

    <div>
        <a asp-controller="Course" asp-action="Index">Create a Course</a>  
    </div>

    <div>
        <a asp-controller="Course" asp-action="ViewAll"> View all Courses </a>
    </div>

</body>